*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    
    

    
}
nav{
    font-family:'Courgette', cursive;
    background-color: black;
    width: 90%;
    padding: 0;
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    
}
.logo1{
    width: 500px;
    padding: 5px;
    margin: auto;
    border-radius: 10px;
    display: flex;
    align-items: end;
    
}
nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0.7rem;
    
}
nav ul a{
    text-decoration: none;
    color: white;
    padding: 0.7rem;
}
nav ul a:hover{
    background-color: blueviolet;
    color: white;
    border-radius: 20px;

}
.titulo{
    color: white;
    text-align: center;
    font-family: 'Courgette', cursive;
    font-size: 5rem;
    text-transform: uppercase;
    }
    

    
.p1{
    color: white;
    padding: 10px;
    border: 20px;
    margin: 10px;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
.footercontenido{
    background-color: gray;
    text-align: center;
    padding: 1em 0;
    width: 100px;
    text-align: center;
}





.contenedor{
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax( 1fr));
  grid-gap: 20px;
  justify-items: center;
  align-items: center;
   }

.item {
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  
    }

.item img {
    width: 40%;
     height: auto;
    border-radius: 5px;
   padding: 30px;
}

    .texto{
    padding: 40px;
    width: 30%;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
.titulo2{
    padding: 40px;
    font-family: 'Courgette', cursive;
    color: white;
    text-align: center;
}

.form{
  background-color: white;
  display: flex;
  margin: auto;
  width: 100%;
  max-width: 400px;
  border-radius: 1em;
  padding: 3.5em 1.5em;
  

}
.formcontenedor{
  width: 100%;
  display: grid;
  gap: 1em; ;
  grid-auto-columns: 100%;
}

.formtitle{
  text-align: center;
  font: size 1.9rem; 
  margin-bottom: 1.4em;
}

.forminput{
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  padding: .8em 1em;
  outline: none;
  border: none;
  border: 1px solid blueviolet;
  border-radius: 0.2em;
}

.forminput__menssage{
  resize: none;
  padding: 1.8em 1em;
  margin-bottom: 5em;
}

.formcta{
  font-family: 'Montserrat', sans-serif;
  background-color: blueviolet;
  color: white;
  border: none;
  font-weight: 300;
  font-size: 1rem;
  padding: 7em 0;
  border-radius: 2em;
cursor: pointer;
font-weight: 400;
}


.footer {
    background-color: #333;
    color: white;
    padding: 50px;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-text {
    font-size: 14px;
  }
  
  .footer-links {
    list-style: none;
    display: flex;
  }
  
  .footer-links li {
    margin-right: 10px;
  }
  
  .footer-links a {
    color: white;
    text-decoration: none;
  }
  footer li :hover{
    background-color: blueviolet;
    color: white;
    border-radius: 20px;

  }

  .principal{
    padding: 10px;
    margin: 30px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    
    }

  .card1{
    background-color: white;
    border:solid blueviolet 2px;
    margin: 10px;
    display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
  

.card-text{
  padding: 30px;

}   

.section{
  background-color: gray;
  display: flex;
  justify-content: space-between;
  padding: 40px;
  width: 50%;
  margin: 15px auto;
  border-radius: 20px;
  box-shadow: 5px 5px 5px (black) ;
}

.section img{
  width: 50%;
  border-radius: 30px;
  border: dashed 3px blueviolet;
  justify-content: flex-end;
}

.section h1{
  margin: 0;
  color: white;
  font-family: 'Montserrat', sans-serif;
  align-items: center;
  padding:5%;
  margin-bottom: 10px;
}

.section p{
  color: white;
  margin-right: 20px;
}

  
   
  

@media (max-width:600px) {

  .form{
    padding: 3.5em 1em;
  }

  nav {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    align-items: center;
    justify-content: center;
  }

  .logo1 {
    grid-row: 1;
    grid-column: 1 / -1;
  }

  nav ul {
    grid-row: 2;
    grid-column: 1 / -1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  .imagen {
    margin-left: 0;
  }
 
  .footer-content {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-links {
    margin-top: 10px;
  }

  .footer-text,
  .footer-links {
    text-align: center;
  }
    
  .contenedor {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
    }


    
  

   