body {
  background-color: black; }

header nav {
  font-family: 'Courgette', cursive;
  width: 100%;
  padding: 0;
  margin: 0 auto; }
  header nav .nav-item:hover {
    background-color: blueviolet;
    color: white;
    border-radius: 20px; }

main .contenedor {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1fr));
  grid-gap: 20px;
  justify-items: center;
  align-items: center; }
  main .contenedor .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; }
    main .contenedor .item .titulo2 {
      padding: 40px;
      font-family: 'Courgette', cursive;
      color: white;
      text-align: center;
      font-weight: 400;
      font-size: 32px; }
    main .contenedor .item .texto {
      padding: 10px;
      width: 30%;
      color: white;
      font-family: 'Montserrat', sans-serif;
      text-align: cente; }
    main .contenedor .item .tem .img {
      width: 40%;
      height: auto;
      border-radius: 5px;
      padding: 30px; }

main .form {
  background-color: white;
  display: flex;
  margin: auto;
  width: 100%;
  max-width: 400px;
  border-radius: 1em;
  padding: 3.5em 1.5em; }
  main .form .formcontenedor {
    width: 100%;
    display: grid;
    gap: 1em;
    grid-auto-columns: 100%; }
    main .form .formcontenedor .formtitle {
      text-align: center;
      font: size 1.9rem;
      margin-bottom: 1.4em; }
    main .form .formcontenedor .forminput {
      font-family: 'Montserrat', sans-serif;
      font-size: 1rem;
      padding: .8em 1em;
      outline: none;
      border: none;
      border: 1px solid blueviolet;
      border-radius: 0.2em; }
    main .form .formcontenedor .forminput__menssage {
      resize: none;
      padding: 1.8em 1em;
      margin-bottom: 5em; }
    main .form .formcontenedor .formcta {
      font-family: 'Montserrat', sans-serif;
      background-color: blueviolet;
      color: white;
      border: none;
      font-weight: 300;
      font-size: 1rem;
      padding: 7em 0;
      border-radius: 2em;
      cursor: pointer;
      font-weight: 400; }

main .galeria h1 {
  text-align: center;
  margin: 20px 0 15px 0;
  font-weight: 300; }

main .galeria .titulo {
  color: white;
  text-align: center;
  font-family: 'Courgette', cursive;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 400; }

main .galeria .lineas {
  border-top: 5px solid blueviolet;
  margin-bottom: 40px; }

main .galeria .contenedorimg {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-around;
  flex-wrap: wrap;
  border-radius: 3px; }
  main .galeria .contenedorimg .imagen {
    width: 32%;
    position: relative;
    height: 250px;
    margin-bottom: 5px;
    box-shadow: 0px 0px 3px 0px blueviolet; }
    main .galeria .contenedorimg .imagen img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    main .galeria .contenedorimg .imagen .overlay {
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: rgba(128, 13, 228, 0.781);
      width: 100%;
      height: 0;
      transition: 1s ease;
      overflow: hidden; }
      main .galeria .contenedorimg .imagen .overlay h2 {
        color: white;
        font-weight: 300;
        font-size: 30px;
        position: absolute;
        top: 50%;
        left: 50%;
        text-align: center;
        transform: translate(-50%, -50%); }
    main .galeria .contenedorimg .imagen:hover .overlay {
      height: 100%;
      cursor: pointer; }

main menu {
  padding: 0 10px 30px 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 20px; }
  main menu .encabezado {
    background-color: black;
    color: white;
    margin-bottom: 30px;
    padding: 30px 0;
    grid-column: 1/-1;
    text-align: center; }
    main menu .encabezado h1 {
      font-family: 'Courgette', cursive;
      font-weight: 400;
      font-size: 32px;
      letter-spacing: 10px;
      margin-bottom: 10px;
      text-transform: uppercase; }
  main menu .menu-item {
    display: grid;
    grid-template-rows: auto 1fr;
    border-radius: 15px;
    box-shadow: 0 0 15px blueviolet;
    transition: 0.2s ease-in-out;
    background-color: white; }
    main menu .menu-item img {
      width: 100%;
      height: auto;
      border-radius: 15px 15px 0 0;
      cursor: pointer; }
    main menu .menu-item .detalles {
      padding: 20px 10px;
      display: grid;
      grid-template-rows: auto 1fr 50px;
      grid-row-gap: 15px; }
      main menu .menu-item .detalles .detalles-sub {
        font-weight: 600;
        font-size: 18px; }
        main menu .menu-item .detalles .detalles-sub .precio {
          text-align: end; }
          main menu .menu-item .detalles .detalles-sub .precio p {
            font-size: 15px;
            line-height: 28px;
            font-weight: 400;
            align-self: stretch; }

footer .aparecer {
  margin: 100px;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-name: aparecer;
  text-align: center;
  color: blueviolet; }
  footer .aparecer h2 {
    width: 100%;
    font-family: 'Courgette', cursive; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

footer .pie-pagina {
  width: 100%;
  background-color: black; }
  footer .pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px; }
    footer .pie-pagina .grupo-1 .box figure {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
      footer .pie-pagina .grupo-1 .box figure img {
        width: 250px; }
    footer .pie-pagina .grupo-1 .box h2 {
      color: #fff;
      margin-bottom: 25px;
      font-size: 20px; }
    footer .pie-pagina .grupo-1 .box p {
      color: #efefef;
      margin-bottom: 10px; }
    footer .pie-pagina .grupo-1 .red-social a {
      display: inline-block;
      text-decoration: none;
      width: 45px;
      height: 45px;
      line-height: 45px;
      color: white;
      margin-right: 10px;
      background-color: black;
      text-align: center;
      transition: all 300ms ease;
      margin-left: 1em; }
      footer .pie-pagina .grupo-1 .red-social a:hover {
        color: white;
        background-color: blueviolet;
        border-radius: 20px; }
  footer .pie-pagina .grupo-2 {
    background-color: black;
    padding: 15px 10px;
    text-align: center;
    color: #fff; }
    footer .pie-pagina .grupo-2 .small {
      font-size: 15px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

main .titulo {
  color: white;
  text-align: center;
  font-family: 'Courgette', cursive;
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 32px; }

main .principal {
  padding: 10px;
  margin: 30px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center; }
  main .principal .card1 {
    background-color: white;
    border: solid blueviolet 2px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center; }
    main .principal .card1 .card-text {
      padding: 30px; }
