

@media (max-width:700px) {


    .form{
       padding: 3.5em 1em;
     }
   
     .item img {
       margin-left: 0;
       width: 100%;
     }
    
     
     .contenedor{
       display: grid;
       grid-template-columns: 1 1fr;
       margin: 0 auto;
       max-width: 700px;
       margin-top: 150px;
       padding: auto;
   
     }
   
   .item .img{
     width: 90%;
   
   }
   
   
   .titulo2{
     font-size: 3rem;
   }
   
   .texto{
     font-size: 2rem;
   }
   
   }
   
   
   
   @media (max-width:450px) {
   
     .form{
       padding: 3.5em 1em;
     }
   
     .item img {
       margin-left: 0;
       width: 100%;
     }
    
     .footer-content {
       flex-direction: column;
       align-items: flex-start;
       width: 100%;
       text-align: center;
   
     }
   
     .footer-links {
       margin-top: 10px;
       text-align: center;
     }
   
     .contenedor{
       display: grid;
       grid-template-columns: 1 1fr;
       margin: 0 auto;
       max-width: 700px;
       margin-top: 150px;
       padding: auto;
   
     }
   
   .item .img{
     width: 90%;
   
   }
   
   
   .titulo2{
     font-size: 2rem;
   }
   
   .texto{
     font-size: 1rem;
   }
   
   
   
   @media (max-width:1024px){
     .column-4{
       grid-template-columns: repeat(3,1fr);
     }
   }
   @media (max-width:768px){
     .column-4{
       grid-template-columns: repeat(2,1fr);
     }
   }
   @media (max-width:480px){
     .column-4{
       grid-template-columns: repeat(1,1fr);
     }
   
   
   }
   
   
   @media screen and (max-width: 1000px){ 
   
   .contenedorimg{
       width: 95%;
   
   }
   }
   
   @media screen and (max-width: 700px){ 
       
       .contenedorimg{
           width: 90%;
       }
   
   .contenedorimg .imagen{
   width: 48%;
   
   }
   }
   
   @media screen and (max-width: 450px){ 
   
   
   .galeria h1{
   
       font-size: 22px;
   }
   
   .contenedorimg{
       width: 98%;
   }
   
   .contenedorimg .imagen{
       width: 80%;
   }
   
   }
   
   
   
   }
   
   
   
   @media screen and (max-width:800px){
     .pie-pagina .grupo-1{
         width: 90%;
         grid-template-columns: repeat(1, 1fr);
         grid-gap:30px;
         padding: 35px 0px;
     }

     }


     @media (max-width:680px){
        .column-2.carta{
          grid-template-columns: repeat(1,1fr);
        }
      }

   

   
   
   